Repository lhqezio/osha-news: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-server, lint-client, build-frontend, build-backend, test-server

lint-server:
  stage: lint
  script:
  - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs .
  allow_failure: false

lint-client:
  stage: lint
  script:
  - cd client && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs,jsx .
  allow_failure: false

build-frontend:
  stage: build
  cache:
    key:
      prefix: frontend
      files:
      - client/package-lock.json
    paths:
    - client/node_modules/
  script:
  - cd client && npm install && npm run build
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - client/build
    - client/node_modules

build-backend:
  stage: build
  cache:
    key:
      prefix: backend
      files:
      - server/package-lock.json
    paths:
    - server/node_modules
  script:
  - cd server && npm install
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - server/node_modules

test-server:
  stage: tests
  script: cd server && npm test

Fix routing
  server/app.js
Due: lint-server, build-backend, test-server

Let profile access
  client/src/Navbar/SearchBox/UserResults.jsx
Due: none

quick fix
  server/app.js
Due: lint-server, build-backend, test-server

fix
  server/app.js
Due: lint-server, build-backend, test-server

add new dev job
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

fix ci variables needed for dev deploy
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

added result amount and if next or prev page
  server/classes/Article.js
  server/controllers/articlesControllers.js
  server/db/db.js
Due: none

fixed category search
  server/controllers/articlesControllers.js
  server/db/db.js
Due: none

Add category tracking to search
  client/src/Navbar/SearchBox/SearchBox.jsx
  client/src/Root.jsx
  client/src/i18n.js
Due: none

implemented update article
  server/controllers/articlesControllers.js
  server/db/db.js
Due: none

Improve Search Behavior
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

changed appname to dev appname
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

implemented delete of article
  server/controllers/articlesControllers.js
  server/db/db.js
  server/routes/articlesRoute.js
Due: none

tested and worked
  server/controllers/articlesControllers.js
Due: none

article author is now signed in user
  server/controllers/articlesControllers.js
  server/controllers/authenticationController.js
Due: none

rename login for less confusion
  client/src/Navbar/Navbar.jsx
  server/controllers/userController.js
  server/routes/userRoute.js
Due: none

clean up own authentication
  server/controllers/authenticationController.js
  server/db/db.js
Due: none

fix getUser
  server/db/db.js
  server/routes/authenticationRoute.js
Due: none

add images
  server/utils/seeding.js
Due: none

add check for no user when posting
  server/controllers/articlesControllers.js
Due: none

add workflow rules
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

added static translation
  client/src/Navbar/SearchBox/ArticleResults.jsx
  client/src/Navbar/SearchBox/SearchBox.jsx
  client/src/Post/Post.jsx
  client/src/Profile/Profile.jsx
  client/src/Signup/Login.jsx
  client/src/i18n.js
Due: none

Complete search by cetegories
  client/package.json
  client/src/Navbar/Navbar.jsx
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: lint-client, build-frontend

Complete Load more
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

Fix fetch on show
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

started adding front-end tests
  client/src/Navbar/SearchBox/SearchBox.jsx
  client/src/Navbar/SearchBox/UserResults.jsx
  client/src/Post/Post.jsx
  client/src/__tests__/articleDetail.test.js
  client/src/__tests__/articleResults.test.js
  client/src/__tests__/post.test.js
  client/src/__tests__/searchBox.test.js
  client/src/__tests__/userResults.test.js
Due: none

Bug fix
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

fixed typo for authors
  server/utils/translateModule.js
Due: none

fixed categories translation
  client/src/Navbar/CategoriesList.jsx
  client/src/Root.jsx
Due: none

JSDocs
  server/classes/Article.js
  server/controllers/articlesControllers.js
  server/controllers/authenticationController.js
  server/controllers/categoryController.js
  server/controllers/userController.js
  server/utils/translateModule.js
Due: none

JSDocs
  server/classes/User.js
  server/controllers/authenticationController.js
  server/controllers/userController.js
  server/utils/translateModule.js
Due: none

added template code for image upload
  package-lock.json
  package.json
  server/app.js
  server/controllers/imageController.js
  server/routes/imageRoute.js
Due: lint-server, build-backend, test-server

Complete bug fix
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

Improvements
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

Remove console.log
  client/src/Navbar/SearchBox/SearchBox.jsx
Due: none

Complete Homepage Mobile optimizations
  client/src/Article/ArticleDetail.jsx
  client/src/Article/ShortScroll.jsx
  client/src/Navbar/CategoriesList.jsx
  client/src/Navbar/Navbar.jsx
  client/src/Search/Search.jsx
  client/src/index.js
Due: none

adds tests for categorieslist, comment and shortScroll plus some fixes
  client/src/__tests__/articleDetail.test.js
  client/src/__tests__/categoriesList.test.js
  client/src/__tests__/comment.test.js
  client/src/__tests__/searchBox.test.js
  client/src/__tests__/shortScroll.test.js
Due: none

added fileuploading to the front-end
  client/src/Post/Post.jsx
  server/app.js
Due: lint-server, build-backend, test-server

add some styling improvements
  client/src/Article/ArticleDetail.jsx
  client/src/Article/Comment.jsx
  client/src/Navbar/CategoriesList.jsx
  client/src/Post/Post.jsx
Due: none

adds fetch to check logged in user
  client/src/Navbar/CategoriesList.jsx
Due: none

Path conditions:
  lint-server: any of: server/**, .gitlab-ci.yml
  lint-client: any of: client/**, .gitlab-ci.yml
  build-frontend: any of: client/**, .gitlab-ci.yml
  build-backend: any of: server/**, .gitlab-ci.yml
  test-server: any of: server/**, .gitlab-ci.yml
