Repository lhqezio/osha-news: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-server, lint-client, build-frontend, build-backend, test-server

lint-server:
  stage: lint
  script:
  - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs .
  allow_failure: false

lint-client:
  stage: lint
  script:
  - cd client && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs,jsx .
  allow_failure: false

build-frontend:
  stage: build
  cache:
    key:
      prefix: frontend
      files:
      - client/package-lock.json
    paths:
    - client/node_modules/
  script:
  - cd client && npm install && npm run build
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - client/build
    - client/node_modules

build-backend:
  stage: build
  cache:
    key:
      prefix: backend
      files:
      - server/package-lock.json
    paths:
    - server/node_modules
  script:
  - cd server && npm install
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
    - server/node_modules

test-server:
  stage: tests
  script: cd server && npm test

Complete Mobile View
  client/src/Navbar/Navbar.jsx
  client/src/Navbar/SearchBox/SearchBox.jsx
  client/src/Profile/Profile.jsx
  client/src/Search/Search.jsx
  client/src/index.js
Due: none

Complete updated nav view
  client/package-lock.json
  client/package.json
  client/src/Article/ArticleDetail.jsx
  client/src/Article/ShortScroll.jsx
  client/src/Navbar/CategoriesList.jsx
  client/src/Root.jsx
  client/src/Search/Search.jsx
  client/src/index.js
Due: lint-client, build-frontend

fixes problem where now you need to be logged in to add article
  client/src/Navbar/CategoriesList.jsx
  client/src/Navbar/Navbar.jsx
  client/src/Post/Post.jsx
Due: none

fixed bug where logout on the post page keeps you on the post page
  client/src/Navbar/Navbar.jsx
Due: none

improve catergory filtering so that it wont just fetch the same 10 articles
  client/src/Article/ArticleDetail.jsx
  client/src/Article/ShortScroll.jsx
Due: none

add config for microsoft auth
  client/src/Config.js
  client/src/Signup/Login.jsx
  package-lock.json
  package.json
Due: none

fixed error
  client/src/Article/ArticleDetail.jsx
Due: none

add
  client/src/Config.js
  client/src/Signup/AuthButton.jsx
  client/src/Signup/Login.jsx
  client/src/index.js
  package-lock.json
  package.json
Due: none

fixed image upload
  server/app.js
Due: lint-server, build-backend, test-server

add workflow rules
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

fixed build lint problem
  client/src/Navbar/CategoriesList.jsx
  client/src/Root.jsx
Due: none

added workflow rule
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

fixed mobile touch event
  client/src/Root.jsx
Due: none

add skeleton
  server/app.js
  server/controllers/userController.js
  server/routes/userRoute.js
Due: lint-server, build-backend, test-server

add db query and response
  server/controllers/userController.js
  server/db/db.js
Due: none

added comment add and get
  server/db/db.js
Due: none

Comment class
  server/classes/Comment.js
Due: none

added comment controllers
  server/controllers/commentController.js
Due: none

added comment route
  server/app.js
  server/routes/commentRoute.js
Due: lint-server, build-backend, test-server

add page server
  server/app.js
Due: lint-server, build-backend, test-server

add jsdocs and check for value
  server/controllers/userController.js
  server/db/db.js
Due: none

add status codes for api
  server/controllers/userController.js
Due: none

add try catch
  server/controllers/userController.js
Due: none

Various Fixes
  client/src/Article/ArticleDetail.jsx
  client/src/FilterScroll.jsx
  client/src/Navbar/CategoriesList.jsx
  client/src/Navbar/SearchBox/SearchBox.jsx
  client/src/Root.jsx
  client/src/index.js
Due: none

added commenting option and display
  client/src/Article/ArticleDetail.jsx
  client/src/Article/Comment.jsx
  server/controllers/commentController.js
Due: none

add jsdocs
  server/controllers/userController.js
  server/db/db.js
  server/routes/userRoute.js
Due: none

try new route
  server/app.js
Due: lint-server, build-backend, test-server

Fix comment
  client/src/Article/ArticleDetail.jsx
Due: none

remove file server
  server/app.js
Due: lint-server, build-backend, test-server

fix update
  server/controllers/articlesControllers.js
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: lint-server, lint-client, build-frontend, build-backend, test-server

Complete profile fetch
  client/src/Navbar/Navbar.jsx
  client/src/Profile/Profile.jsx
  client/src/Signup/Login.jsx
  server/app.js
Due: lint-server, build-backend, test-server

add link to profile on picture
  client/src/Navbar/Navbar.jsx
Due: none

some test fixes
  client/src/Article/ArticleDetail.jsx
  client/src/__tests__/articleDetail.test.js
  client/src/__tests__/categoriesList.test.js
  client/src/__tests__/post.test.js
  client/src/__tests__/userResults.test.js
Due: none

Fix profile
  client/src/Profile/Profile.jsx
  server/controllers/userController.js
Due: none

pass email to db method
  server/controllers/userController.js
Due: none

Complete profile delete
  client/src/Navbar/Navbar.jsx
  client/src/Profile/Profile.jsx
  server/routes/articlesRoute.js
Due: none

makes it so that when you click on a article in the search box, it will send you to that article our the site instead of the original one
  client/src/Article/ArticleDetail.jsx
  client/src/Article/SoloArticle.jsx
  client/src/Navbar/SearchBox/ArticleResults.jsx
  client/src/index.js
  server/controllers/articlesControllers.js
  server/db/db.js
  server/routes/articlesRoute.js
Due: none

fixed routing problem
  client/src/index.js
Due: none

Path conditions:
  lint-server: any of: server/**, .gitlab-ci.yml
  lint-client: any of: client/**, .gitlab-ci.yml
  build-frontend: any of: client/**, .gitlab-ci.yml
  build-backend: any of: server/**, .gitlab-ci.yml
  test-server: any of: server/**, .gitlab-ci.yml
